{% extends 'users/base.html' %}


{% block content %}
    <h1>Welcome to the ADMIN PAGE</h1>
    <h2>Current Admin: {{ request.user.first_name }}  {{ request.user.last_name }}</h2>
    <br />
    <br />
    <h3>Users</h3>
    <br />

    {% for user in users %}
        {% if not user.is_admin %}
          <article class="content-section">
            <div>
              <div>
                <a class="mr-2" href="{% url 'user-detail' user.id %}">{{ user.first_name }} {{ user.last_name }}</a>
              </div>
              <p>{{ user.email }}</p>
            </div>
            <div>
              <button class="btn btn-primary" onclick="window.location.href = '{% url 'user-update' user.id %}'">Edit</button>
              <button class="btn btn-danger" onclick="window.location.href = '{% url 'user-delete' user.id %}'">Delete</button>
            </div>
          </article>
        {% endif %}
    {% endfor %}
{% endblock content %}