{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Create New User</h1>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create A New User</legend>
                {{ form | crispy }}
            </fieldset>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create User</button>
            </div>
        </form>
    </div>

{% endblock content %}